@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import './components/navigation.css';

@source '../../app/Livewire/Admin/**/*.php';
@source '../../app/Livewire/Shared/**/*.php';
@source '../views/livewire/admin/**/*.blade.php';
@source '../views/livewire/shared/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-accent: #e58775;
    --color-accent-content: #b85240;
    --color-accent-foreground: #1c1917;
}

@layer theme {
    .dark {
        --color-accent: #e58775;
        --color-accent-content: #f1ad9e;
        --color-accent-foreground: #1c1917;
    }
}
